/* #region Подключение шрифта Roboto-Regular*/
@font-face {
	font-family: Roboto;
	src:url(fonts/Roboto-Regular.woff), 
		url(fonts/Roboto-Regular.woff2);
	font-weight:400;
	font-style:normal;
}

/*Подключение шрифта Roboto-Medium*/
@font-face {
	font-family: Roboto;
	src:url(fonts/Roboto-Medium.woff), 
		url(fonts/Roboto-Medium.woff2);
	font-weight: 500;
	font-style:normal;
}

/*Подключение шрифта Roboto-Bold*/
@font-face {
	font-family: Roboto;
	src:url(fonts/Roboto-Bold.woff),
		url(fonts/Roboto-Bold.woff2);
	font-weight: 700;
	font-style:normal;
}


/*#endregion*/

body {
	font-family: Roboto, sans-serif;
	background-color: #660066;
}

/*Цвет фона для всех секций*/
section {
	background-color: #800080;
}



/*Общие настройки для чекбокса и радио*/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="file"]:checked,
[type="file"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

/*контейнер для всей страницы*/
.container {
	display: flex;
	flex-wrap: nowrap;
}

/*#region стиль для логотипа*/
.header {
	height: 11%;
}

/*содержит в себе логотип и текст*/
.contain-logo {
	position: absolute;
	width: 195px;
	height: 45px;
	margin-left: 15px;
	padding-top: 15px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

/* логотип компании*/
.logo {
	width: 45px;
	height: 45px;
}

/*наименование компании*/
.logo-text {
	
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 10px;
}

/* #endregion*/

/* #region стили для бокового меню - вообще эту херню переделаю */

/*Основной контейнер*/
.container-menu {
	height: 82%;
	padding-top: 20%;
}

/*Левое меню*/
.left-menu {
	max-width: 300px;
	min-width: 300px;
	height: 100vh; 
}

/*контейнер и пунктами*/
.items-menu {
	width: 240px;	
	margin: 0 auto;

	font-weight: 500;
	color: #FDFDFD;
}

.button-text {
	background-size: 26px;
	background-position: 0 6px;
	background-repeat: no-repeat;
	padding: 0.65em 1em;

	padding-left: 60px;
}

/*Стиль для чекбокса профиля*/
.button-prof {
	background-size: 19px;
	background-image: url("../svg/profile.svg");
}

/*стиль для раздела управление пользователями*/
.button-user { 
	background-image: url("../svg/manag-user.svg");
}

/*стиль для раздела управление ролями*/
.button-role {
	background-image: url("../svg/manag-role.svg");
}

/*стиль для кнопки выход*/
.button-exit {
	background-image: url("../svg/exit.svg");	
}
/* стиль для кнопки вкладки */
.tablink-menu {
	background-color: #800080;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	height: 40px;
	display: block;
	border-bottom: 2px solid #800080;
	text-align: left;
	padding: 0.58em 1em;
}

/*для каждого четного элемента tablink-menu прибавляется отступ серху и снизу*/
.tablink-menu:nth-child(even) {
	margin: 5px 0;
}

/*При наведении*/
.tablink-menu:hover {
	border-bottom: 2px solid #7fff7fe6;
}

/* Стиль для содержимого вкладок */
.tabcontent-menu {
	color: white;
	display: none;
	/*padding: 100px 20px;*/
	height: 100%;
	/*background-color:#800080;*/
}  
/* #endregion */

/*Верхнее меню*/
.head-menu {
	width: 100%;
	height: 75px;
}

/* #region Контайнер с основным собержимым*/
.main-contant {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/*Заголовок контейнера с данными пользователя*/
.head-contant {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 15px;
}

/* стиль для кнопки вкладки */
.tablink,.tablink1 {
	background-color: #991199;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
	width: 20%;
}

/*При наведении*/
.tablink:hover,.tablink1:hover {
	background-color: #973E95;
}

/* Стиль для содержимого вкладок */
.tabcontent,.tabcontent1 {
	color: white;
	display: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 55px;
	height: 100%;
	background-color:#800080;
}  

/*Контейнер с данными пользователя*/
.container-contant {
	padding: 20px 30px 0 30px;
	width: 100%;
	height: 85%;
}
 
.content-profile {
	margin-top: 20px;
	display: flex;
}

/*заголовки полей ввода*/
.heder-input {
	font-size: 12px;
	font-weight: bold;
	color: #CEC8C8;	
	
}

.data-profile {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.input-field,.input-field1 {
	width: 100%;

	margin-top: 5px;

	padding: 0.72em 2em;

    font-size: 14px;
  
}

::-webkit-inner-spin-button { display: none; }

::-webkit-calendar-picker-indicator {
    display: block;
	color: transparent;
	opacity: 1;
	margin-left: 5px;
	background: url("../svg/calendar.svg") no-repeat center;
	background-size: contain;
	width: 17px;
	height: 17px;	
}

.input {
	width: 100%;
	min-width: 115px;
}

.input:nth-child(even) {
	margin-top: 5px;
	margin-bottom: 5px;
}

.field-dob {
	padding:  0.5em 1em 0.5em 2em;
}


.group-date-sex {
	margin-top: 5px;
	margin-bottom: 5px;
}

.hideElement,.hideElement1 {
	visibility: hidden;
}

#group-check-sex {
	display: none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:2px 10px 0 0;
    vertical-align:middle;
	background-image:url("../svg/input-checkbox.svg")  ;/**/
	background-repeat: no-repeat;
	background-position: 0 top;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
	background-image:url("../svg/input-checkbox-check.svg"); /* */
	background-position: 0 top ;
	background-repeat: no-repeat;
}  

/*Общий стиль для кнопок*/
.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;

	border: 2px solid #ffffff;
	border-radius: 5px;

	padding: 0.72em 1em;
  
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;	  

	outline: none;
}

/*Стиль для синих кнопок*/
.blue-button {
	background-color: #00BFFF;
}

.blue-button:active {
	padding: calc(0.72em + 1px) 1em calc(.72em - 1px);
}

.blue-button:hover {
	color: #ffffffd9;
	/*border: solid 2px #00BFFF;*/
	background-color: #0087b4;
	/*box-shadow: #286820b3 0 80px 0px 2px inset;*/
}

/*стиль для зеленых кнопок*/
.green-button {
	background-color: #7FFF7F;
	color: #202020;
}

.green-button:active {
	padding: calc(0.72em + 1px) 1em calc(.72em - 1px);
}

.green-button:hover {
	color: #ffffffd9;
	/*border: solid 2px #7FFF7F;*/
	background-color: #128312;
}

.container-image {
	width: 135px;
	height: 100%;
	margin-right: 5%;
	
}

.image-profile {
	width: 135px;
	height: 135px;
	background-image: url("../img/Todarenco.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.image-profile1 {
	width: 135px;
	height: 135px;
	background-image: url("../img/clear-prof.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.image-update {
	width: 100%;
	margin-top: 25px;

	text-decoration: none;
}

.group-date-sex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.group-check-sex {
	margin-top: 10px;
	margin-left: 25%;
}

.input-dob {
	width: 45%;
}

.content-sex{
	width: 45%;
}

.profile-block1 {
	margin-right: 7%;
	width: 45%;
}
.profile-block2 {
	width: 45%;
}

.heder-input {
	margin-bottom: 5px;
}

.header-profile {
	display: flex;
	justify-content: flex-end;
	width: 97.5%;
}

.footer-profile {
	display: flex;
	justify-content: flex-end;
	width: 97.5%;

	margin-top: 6%;
	padding-bottom: 30px;
}

.footer-profile1 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 40.16px;
	margin-top: 15px;
	padding-bottom: 0;
}

.footer-scroll-window {
	margin-top: 20px;
}

.head-scrpll-window {
	margin-bottom: 20px;
}

.group-button1 {
	display: none;
}



.button-edit-text {
	margin-left: 30px;
	font-weight: inherit;	
}

.button-edit {
	background-image: url("../svg/edit.svg");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px 5px;
	width: 170px;
}

.input-password {
	position: relative;
}

.button-open-eye, .button-conf-open-eye {
	width: 18px;
	height: 14px;

	position: absolute;
	right: 0;
	top: 0;

	margin-top: 38px;
	margin-right: 20px;

	background-image: url("../svg/open-eye.svg");
	background-repeat: no-repeat;
	display: none;

	cursor:pointer;
}

.button-close-eye, .button-conf-close-eye {
	width: 18px;
	height: 14px;

	position: absolute;
	right: 0;
	top: 0;

	margin-top: 35px;
	margin-right: 20px;

	background-image: url("../svg/closed-eye.svg");
	background-repeat: no-repeat;

	cursor:pointer;
}

.button-save {
	width: 150px;
	margin-right: 30px;
}

.button-cancel {
	width: 120px;
}
/*#endregion*/

.container-role {
	width: 100%;
	height: 95%;
	display: flex;
	position: relative;
}

.role-content {
	margin-top: 25px;
	width: 100%;
	height: 95%;
	display: flex;
	position: relative;
}

.head-items-role,.head-detail-role,.items-role2 {
	font-weight: 500;
	font-size: 18px;
	width: 94%;
	margin-bottom: 20px;
	
}

.head-access-function {
	font-weight: 500;
	font-size: 18px;
	width: 100%;
	margin-top: 10px;
}

.items-role,.items-access-function,.items-role2 {
	border: 1px solid #ffffff;
	margin-top: 10px;
	width: 100%;
	max-height: 400px;
	overflow-y: scroll; /* прокрутка по вертикали */
}

.items-access-function {
	max-height: 130px;
}

.list-role,.list-role1 {
	width: 42%;	
}

.list-role::after,.list-role1::after  {
	content: "";
	display:block; 
	background-color: #973E95;
	width: 3px;
	height: 95%;

	position: absolute;
	top: 0;
	left: 47%;
}

.item-role,.item-function,.item-role1,.item-function1,.item-function2  {
	width: 100%;	
	background-color: #973E95;
	padding: 0.9em 2.5em;
	border: solid 2px #973E95;
	color: #ffffff;
	text-align: left;
	position: relative;

	font-size: 12px;
	font-weight: 400;
	font-family: inherit;
	
	cursor: pointer;
	outline: none;
}

.item-role2 {
	width: 100%;	
	background-color: #973E95;
	padding: 0.9em 2.5em;
	border: solid 2px #973E95;
	color: #ffffff;
	text-align: left;
	position: relative;

	font-size: 12px;
	font-weight: 400;
	font-family: inherit;

	outline: none;
	cursor: pointer;
	display: flex;
}

.input-field-role {
	width: 100%;

	margin-top: 5px;

	padding: 0.72em 2em;

    font-size: 14px;
  
}

.field-date-role {
	padding:  0.5em 1em 0.5em 2em;
}

.text-item {	
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	font-family: inherit;
}

.item-role:nth-child(even),.item-function:nth-child(even),.item-role1:nth-child(even),.item-role2:nth-child(even),.item-function1:nth-child(even),.item-function2:nth-child(even)   {
	background-color: #AD66A9;
	border: solid 2px #AD66A9;
}

.item-role:hover,.item-role1:hover,.item-role2:hover,.item-function2:hover {
	border: solid 2px #00BFFF;
}

.tab-detail {
	display: none;
}

.detail-role {
	width: 50%;
	margin-left: 11%;
}

.tab-detail,.text-detail-role { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.group-block1,.group-block2 {
	width: 45%;
}

.input-start-date,.input-finish-date {
	width: 80%;
}

.access-function {
	margin-top: 10%;
	padding-bottom: 50px;
}

.access-function1 {
	margin-top: 30px;
	padding-bottom: 0;
}

.button-item {
	background-image: url("../svg/delete.svg");
	width: 17px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	margin: -2px 30px;
}

.button-item-del {
	background-image: url("../svg/delete-grin.svg");
	width: 17px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	margin: -2px 30px;
}

.button-item::before,.button-item-func::before  {
	content: "";
	display: block;
	width: 1px;
	height: 24px;
	background-color: #404040;
	top: 0;
	right: 50px;
	margin-top: -2px;
	position: absolute;
}



.button-item-func {
	background-image: url("../svg/delete-grin.svg");
	width: 17px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	margin: -2px 30px;
}

.contant-user{
	position: relative;
	padding: 30px 35px 5px 35px;
	height: 558px;
}

.contant-role {
	position: relative;
	padding: 30px 35px 15px 35px;
	height: 535px;
}

.search-panel {

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	/*padding-top: 30px;*/
	position: relative;
}

.group-input-search {
	width: 45%;
	margin-left: 50px;
}


.group-input-search::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../svg/filter.svg");
	background-repeat: no-repeat;
	position: absolute;
	
	left: 0;
	top: 10px;
}

.search-dob {
	margin-left: 30px;
}

.input-search {
	width: 45%;
	padding: 0.72em 2em;
	font-size: 14px;
	
	border: 2px solid #00BFFF;
	border-radius: 5px;
	color: #000000;
	background-color: #ffffff;
  
}

.contant-table {	
	border: 1px solid #ffffff;
}

.head-table {
	margin-top: 30px;
	margin-bottom: 5px;
	display: flex;
	flex-wrap: nowrap;
}

.head-table1 {
	margin-bottom: 5px;
	display: flex;
	flex-wrap: nowrap;
}

.item-head {
	font-size: 10px;
	font-weight: 700;	
}

.table-items {
	background-color: #973E95;
	border: solid 2px #973E95;
	width: 100%;
	padding: 0.72em 0;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	cursor: pointer;
}

.table-items:nth-child(even) {
	background-color: #AD66A9;
	border: solid 2px #AD66A9;
}

.table-items:hover {
	border: solid 2px #00BFFF;
}

.img-header {
	margin-left: 1%;
}

.FIO-header {
	margin-left: 6%;
}

.dob-header {
	margin-left: 12%;
}

.email-header {
	margin-left: 8%;
}

.dle-header {
	margin-left: 9%;
}

.session-header {
	margin-left: 6%;
}

.sysname-header {
	margin-left: 5%;
}

.name-role-header {
	margin-left: 10%;
}

.date-end-header {
	margin-left: 21%;
}

.item-value {
	height: 100%;
	font-size: 12px;
	font-weight: 500;
	position: relative;
}

.FIO-item-value {
	width: 25%;
	padding-left: 4%;
}

.FIO-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 90%;
}

.sysname-role-item-value {
	width: 20%;
	padding-left: 0%;
}

.sysname-role-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 90%;
}

.name-role-item-value {
	width: 40%;
	padding-left: 4%;
}

.name-role-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 90%;
}

.date-end-item-value {
	width: 20%;
	padding-left: 0%;
}

.date-end-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 90%;
}

/*.text-item::after {
	content: "";
	width: 1px;
	height: 25px;
	display: flex;
	background-color: #404040;
	position: absolute;
	top: 0;
	left: 0;
}	*/

/*.text-item::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: 0;
	right: 0;
}*/

.dob-item-value {
	width: 10%;
}

.dob-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 80%;
}

.email-item-value {
	width: 20%;
}

.email-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 80%;
}

.dle-item-value {
	width: 10%;
}

.dle-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 80%;
}

.session-item-value {
	width: 10%;
}

.session-item-value::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: -5px;
	left: 100%;
}

.group-button-item-value {
	width: 20%;
}

.page-contant-table {
	display: none;
}

.button-add,.button-add-function,.button-add-role {
	background-image: url("../svg/add-button.svg");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 10px 5px;
	width: 125px;
}

.logo-item-value {
	content: "";
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	
	left: 10px;
	top: 8px;

	background-image: url("../img/Todarenco.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	border: 1px solid #ffffff;
	border-radius: 50%;
	
}


.container-img {
	width: 50px;
}

.container-img::before {
	content: "";
	width: 1px;
	height: 25px;
	display: block;
	background-color: #404040;
	position: absolute;
	top: 7px;
	left: 5%;
}

.content-numerator {
	position: absolute;
	left: 50%;
	bottom: 0;
	display: flex;
	width: 5%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 15px;
}


.content-numerator1 {
	position: absolute;
	left: 20%;
	bottom: 0;
	display: flex;
	width: 5%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 15px;
}

.number-page {
	font-size: 11px;
	font-weight: 500;
	padding: 3px 6px;	
}

.numer {	
	border: 1px solid #720073;	
	border-radius: 2px;
}
.numer:hover {	
	border: 1px solid #00BFFF;	
	border-radius: 2px;
	cursor: pointer;
}

.numer1 {	
	border: 1px solid #720073;	
	border-radius: 2px;
}
.numer1:hover {	
	border: 1px solid #00BFFF;	
	border-radius: 2px;
	cursor: pointer;
}

.group-button-item-value {
	display: flex;
}

.group-button-scroll {
	display: flex;
	justify-content: space-between;
}

.del-item {
	background-image: url("../svg/delete-grin.svg");
	background-repeat: no-repeat;
	background-position: cover;
	position: absolute;
	width: 17px;
	height: 20px;
	fill: #7FFF7F;
	right: 0;
	margin: -2px 35%;
}

.edit-item {
	background-image: url("../svg/edit-table.svg");
	background-repeat: no-repeat;
	background-position: cover;
	position: absolute;
	fill: #7FFF7F;
	width: 20px;
	height: 20px;
	right: 0;
	margin: -2px 15%;
}


.del-item1 {
	background-image: url("../svg/delete-grin.svg");
	background-repeat: no-repeat;
	background-position: cover;
	position: absolute;
	width: 17px;
	height: 20px;
	fill: #7FFF7F;
	right: 0;
	margin: -2px 0%;
}

.edit-item1 {
	background-image: url("../svg/edit-table.svg");
	background-repeat: no-repeat;
	background-position: cover;
	position: absolute;
	fill: #7FFF7F;
	width: 20px;
	height: 20px;
	right: 0;
	margin: -2px 40px;
}
	
/**/
.numer:nth-child(even) {
	margin: 0 5px;
}

.head-access-function1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: last baseline;
}

.button-add-function {
	visibility: hidden;
}

.role-add2 {
	display: none;
}

.scroll-window {
	width: 400px;
	height: 250px;
	padding: 20px;
	background-color: #991199;

	position: absolute;
	right: 0;
	bottom: 200px;

	visibility: hidden;

}

.scroll-access-function {
	height:120px;
	overflow-y: scroll; /* прокрутка по вертикали */

	border: 1px solid #ffffff;
}

/*поле чекбокса*/
.checkbox1 {
    position: absolute;
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    width: 1px;
}


/*отрисовка своего чекбокса*/
.check-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background-image: url("../svg/input-checkbox.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
	margin-right: 8px;
	margin-top: -25px;
}

/*Настройка события при нажатии*/
.checkbox:checked ~ .check-text::before {	
	background-image: url("../svg/input-checkbox-check.svg");
}

.button-item-scroll {
	width: 17px;
	height: 20px;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	margin: -2px 30px;
}

.button-item-scroll::before {
	content: "";
	display: block;
	width: 1px;
	height: 24px;
	background-color: #404040;
	top: 0;
	right: 50px;
	margin-top: -17px;
	position: absolute;
}

#items-func-9,#items-func-10,#items-func-11 {
	display: none;
}

@media (max-width: 1900px) {
	.img-header {
		margin-left: 1%;
	}
	
	.FIO-header {
		margin-left: 6%;
	}
	
	.dob-header {
		margin-left: 8%;
	}
	
	.email-header {
		margin-left: 5%;
	}
	
	.dle-header {
		margin-left: 6%;
	}
	
	.session-header {
		margin-left: 4%;
	}

	.sysname-header {
		margin-left: 1%;
	}
	
	.name-role-header {
		margin-left: 10%;
	}
	
	.date-end-header {
		margin-left: 15%;
	}
}
