/* #region Подключение шрифта Roboto-Regular*/
@font-face {
	font-family: Roboto;
	src:url(fonts/Roboto-Regular.woff), 
		url(fonts/Roboto-Regular.woff2);
	font-weight:400;
	font-style:normal;
}

/*Подключение шрифта Roboto-Medium*/
@font-face {
	font-family: Roboto;
	src:url(fonts/Roboto-Medium.woff), 
		url(fonts/Roboto-Medium.woff2);
	font-weight: 500;
	font-style:normal;
}

/*Подключение шрифта Roboto-Bold*/
@font-face {
	font-family: Roboto;
	src:url(fonts/Roboto-Bold.woff),
		url(fonts/Roboto-Bold.woff2);
	font-weight: 700;
	font-style:normal;
}

/*#endregion*/

body {
	font-family: Roboto, sans-serif;
	background-color: #660066;
}

/*Цвет фона для всех секций*/
section {
	background-color: #800080;
}



/*Общие настройки для чекбокса и радио*/
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked),
[type="file"]:checked,
[type="file"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

/*контейнер для всей страницы*/
.container {
	display: flex;
	flex-wrap: nowrap;
}

/*#region стиль для логотипа*/
.header {
	height: 11%;
}

/*содержит в себе логотип и текст*/
.contain-logo {
	position: absolute;
	width: 195px;
	height: 45px;
	margin-left: 15px;
	padding-top: 15px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

/* логотип компании*/
.logo {
	width: 45px;
	height: 45px;
}

/*наименование компании*/
.logo-text {
	
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 10px;
}

/* #endregion*/

/* #region стили для бокового меню - вообще эту херню переделаю */

/*Основной контейнер*/
.container-menu {
	height: 82%;
	padding-top: 20%;
}

/*Левое меню*/
.left-menu {
	max-width: 300px;
	min-width: 300px;
	height: 100vh; 
}

/*контейнер и пунктами*/
.items-menu {
	width: 240px;	
	margin: 0 auto;

	font-weight: 500;
	color: #FDFDFD;
}

.button-text {
	background-size: 26px;
	background-position: 0 6px;
	background-repeat: no-repeat;
	padding: 0.65em 1em;

	padding-left: 60px;
}

/*Стиль для чекбокса профиля*/
.button-prof {
	background-size: 19px;
	background-image: url("../svg/profile.svg");
}

/*стиль для раздела управление пользователями*/
.button-user { 
	background-image: url("../svg/manag-user.svg");
}

/*стиль для раздела управление ролями*/
.button-role {
	background-image: url("../svg/manag-role.svg");
}

/*стиль для кнопки выход*/
.button-exit {
	background-image: url("../svg/exit.svg");	
}
/* стиль для кнопки вкладки */
.tablink-menu {
	background-color: #800080;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	width: 100%;
	height: 40px;
	display: block;
	border-bottom: 2px solid #800080;
	text-align: left;
	padding: 0.58em 1em;
}

/*для каждого четного элемента tablink-menu прибавляется отступ серху и снизу*/
.tablink-menu:nth-child(even) {
	margin: 5px 0;
}

/*При наведении*/
.tablink-menu:hover {
	border-bottom: 2px solid #7fff7fe6;
}

/* Стиль для содержимого вкладок */
.tabcontent-menu {
	color: white;
	display: none;
	/*padding: 100px 20px;*/
	height: 100%;
	/*background-color:#800080;*/
}  
/* #endregion */

/*Верхнее меню*/
.head-menu {
	width: 100%;
	height: 75px;
}

/* #region Контайнер с основным собержимым*/
.main-contant {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

/*Заголовок контейнера с данными пользователя*/
.head-contant {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 15px;
}

/* стиль для кнопки вкладки */
.tablink {
	background-color: #991199;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
	width: 20%;
}

/*При наведении*/
.tablink:hover {
	background-color: #973E95;
}

/* Стиль для содержимого вкладок */
.tabcontent {
	color: white;
	display: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 55px;
	height: 100%;
	background-color:#800080;
}  

/*Контейнер с данными пользователя*/
.container-contant {
	padding: 20px 30px 0 30px;
	width: 100%;
	height: 85%;
}
 
.content-profile {
	margin-top: 20px;
	display: flex;
}

/*заголовки полей ввода*/
.heder-input {
	font-size: 12px;
	font-weight: bold;
	color: #CEC8C8;	
	
}

.data-profile {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.input-field {
	width: 100%;

	margin-top: 5px;

	padding: 0.72em 2em;

    font-size: 14px;
  
}

::-webkit-inner-spin-button { display: none; }

::-webkit-calendar-picker-indicator {
    display: block;
	color: transparent;
	opacity: 1;
	margin-left: 5px;
	background: url("../svg/calendar.svg") no-repeat center;
	background-size: contain;
	width: 17px;
	height: 17px;	
}

.input {
	width: 100%;
	min-width: 115px;
}

.input:nth-child(even) {
	margin-top: 5px;
	margin-bottom: 5px;
}

.field-dob {
	padding:  0.5em 1em 0.5em 2em;
}


.group-date-sex {
	margin-top: 5px;
	margin-bottom: 5px;
}

.hideElement {
	visibility: hidden;
}

#group-check-sex {
	display: none;
}

input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:2px 10px 0 0;
    vertical-align:middle;
	background-image:url("../svg/input-checkbox.svg")  ;/**/
	background-repeat: no-repeat;
	background-position: 0 top;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
	background-image:url("../svg/input-checkbox-check.svg"); /* */
	background-position: 0 top ;
	background-repeat: no-repeat;
}  

/*Общий стиль для кнопок*/
.button {
	display: inline-block;
	text-align: center;
	text-decoration: none;

	border: solid 2px #ffffff;
	border-radius: 5px;

	padding: 0.72em 1em;
  
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;	  
}

/*Стиль для синих кнопок*/
.blue-button {
	background-color: #00BFFF;
}
.blue-button:hover {
	color: #ffffffd9;
	/*border: solid 2px #00BFFF;*/
	background-color: #0087b4;
	/*box-shadow: #286820b3 0 80px 0px 2px inset;*/
}

/*стиль для зеленых кнопок*/
.green-button {
	background-color: #7FFF7F;
	color: #202020;
}
.green-button:hover {
	color: #ffffffd9;
	/*border: solid 2px #7FFF7F;*/
	background-color: #128312;
}

.container-image {
	width: 135px;
	height: 100%;
	margin-right: 5%;
	
}

.image-profile {
	width: 135px;
	height: 135px;
	background-image: url("../img/Todarenco.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.image-update {
	width: 100%;
	margin-top: 25px;

	text-decoration: none;
}

.group-date-sex {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.group-check-sex {
	margin-top: 10px;
	margin-left: 25%;
}

.input-dob {
	width: 45%;
}

.content-sex{
	width: 45%;
}

.profile-block1 {
	margin-right: 7%;
	width: 45%;
}
.profile-block2 {
	width: 45%;
}

.heder-input {
	margin-bottom: 5px;
}

.header-profile {
	display: flex;
	justify-content: flex-end;
	width: 97.5%;
}

.footer-profile {
	display: flex;
	justify-content: flex-end;
	width: 97.5%;

	margin-top: 6%;
	padding-bottom: 30px;
}

.button-edit-text {
	margin-left: 30px;
	font-weight: inherit;	
}

.button-edit {
	background-image: url("../svg/edit.svg");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px 5px;
	width: 170px;
}

.input-password {
	position: relative;
}

.button-open-eye, .button-conf-open-eye {
	width: 18px;
	height: 14px;

	position: absolute;
	right: 0;
	top: 0;

	margin-top: 38px;
	margin-right: 20px;

	background-image: url("../svg/open-eye.svg");
	background-repeat: no-repeat;
	display: none;

	cursor:pointer;
}

.button-close-eye, .button-conf-close-eye {
	width: 18px;
	height: 14px;

	position: absolute;
	right: 0;
	top: 0;

	margin-top: 35px;
	margin-right: 20px;

	background-image: url("../svg/closed-eye.svg");
	background-repeat: no-repeat;

	cursor:pointer;
}

.button-save {
	width: 150px;
	margin-right: 30px;
}

.button-cancel {
	width: 120px;
}
/*#endregion*/